{% extends 'base.html' %}

{% block conteudo %}
    <h1>Relatório de Entrada e Saída:</h1>
<div class="form-container">
    <form method="POST">
        <label for="data_inicio">Data Início:</label>
        <input type="date" id="data_inicio" name="data_inicio" required>

        <label for="data_fim">Data Fim:</label>
        <input type="date" id="data_fim" name="data_fim" required>

        <button type="submit">Filtrar</button>
    </form>
</div>
<div class="cards-container">
    {{ graph|safe }}
</div>
{% endblock %}
